.search_input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    width: 75vw;
    border-radius: 999px;
    padding:7px 20px;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 560px;
}
.search_input input{
    flex: 1;
    padding: 9px 20px;
    border: none;
    font-size: medium;
}
.search_input input:focus{
    outline: none;
}
.search_icon{
    color: gray;
    font-size: 1.25em !important;
}
.mic_icon{
    font-size: 1.25em !important;
}
.search_button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.search_button button{
    margin: 5px;
    padding: 7px 15px;
    background: #F5F5F5;
    border: 1px solid white;
    color: #5f6368;
    font-size: 0.8em;
    text-transform: inherit;
}
.search_button button:hover{
    color: #222222;
    border: 1px solid #C6C6C6;
}
.hiddenButton{
    display: none !important;
}
